
.heros {
    display: flex;
    background-image: url(../../../public/image-alfatih/Home/Home-Back.png);
    height: 1000px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.two_icone {
    display: flex;
    gap: 320px;
    position: absolute;
}

.org {
    height: 700px;
    width: 700px;
}

.logo {
    height: 500px;
    width: 500px;
    margin-top: 50px;
}

.kosong{
    margin-top: 640px;
}

.arrow {
    position: relative;
}

.arrow:hover {
    cursor: pointer;
}