.container_home {
    gap: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px;
}


.container_item {
    padding: 32px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.container_item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}